%MyAccountViewPageTemplate {
  max-width: var(--cx-page-width-max);
  margin: auto;
  cx-page-slot {
    cx-banner {
      margin: 2rem 0rem 0.5rem 0rem;
      border: 1px solid var(--cx-color-medium);
    }
  }
  .LeftContentSlot {
    float: left;
    max-width: 25%;
  }

  .RightContentSlot {
    float: left;
    max-width: 75%;
  }
}

@media screen and (max-width: 1024px) {
  .LeftContentSlot {
    max-width: 26% !important;
  }

  .RightContentSlot {
    max-width: 73% !important;
  }
}
@media screen and (max-width: 855px) {
  .LeftContentSlot {
    max-width: 34% !important;
  }

  .RightContentSlot {
    max-width: 64% !important;
  }
}
@media screen and (max-width: 544px) {
  .LeftContentSlot {
    max-width: 34% !important;
  }

  .RightContentSlot {
    max-width: 64% !important;
  }
}
@media screen and (max-width: 444px) {
  .LeftContentSlot {
    max-width: 36% !important;
  }

  .RightContentSlot {
    max-width: 63% !important;
  }
}
